doctype html
html(lang="en")

head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Document
    link(rel="stylesheet", href="/css/demo.css")
    link(rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200")

body
    div(class = "videoBorder")
        video#vid
    div(class = "cameraButton")
        button#but(autoplay)
            span(class="material-symbols-outlined" id = "cam") linked_camera
    div(class = "popup-hidden")
        //- h2 #{data.title}
        //- p #{data.vicinity}
        //- p #{data.rating}
        //- p #{data.opening_hours}
        h2 Title 
        p Vicinity
        p Rating
        p Opening Hours
    
    button(class="back-button", onclick="window.location.href='/'") Home
    script(src="/js/client.js")
    