
html 
    head 
        script(src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBtQ8LvmD6fg3wLA8781CKWTUmbn4P5tf8&libraries=places&callback=initMap")
        title Home
    body(onload="init()")
        h1#demo
    script(src="home.js")

    