doctype html
html(lang="en")
    head 
        title Monitoring
    body(onload="init()")
        h1 Location Monitoring
        h1#pos Position Default
        br
        h1#rot Rotation Default
    script(src="Monitoring.js")